#app {
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100vh;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#toolbar button {
  width: 40px;
  height: 40px;
  background-color: #E0E0E0;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.2s ease-in-out;
}

#toolbar button:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#left {
  background-color: white;
  margin: 2% 1% 2% 2%;
  padding: 5% 4%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#problem-title {
  font-size: 36px;
  font-weight: bold;
}

#problem-difficulty {
  font-weight: bold;
  color: green;
}

#problem-examples-container {
  background-color: #EEEEEE;
  padding: 4% 3%;
  border-radius: 10px;
}
