.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 90vh;
  line-height: 2;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toolbar button {
  width: 50px;
  height: 50px;
  background-color: #E0E0E0;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.toolbar button:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.disabled-btn:disabled,
.disabled-btn:disabled:active {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50vw 50vw;
}

.left-problem {
  background-color: white;
  margin: 2% 1% 2% 2%;
  padding: 5% 4%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.difficulty.easy {
  color: green;
}

.difficulty.medium {
  color: orange;
}

.difficulty.hard {
  color: red;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.section {
  background-color: #EEEEEE;
  padding: 4% 3%;
  border-radius: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
}

.image-container img {
  max-width: 100%;
}

.left-response {
  position: relative;
  background-color: white;
  margin: 2% 1% 2% 2%;
  border-radius: 10px;
}

.left-response-details {
  height: 100%;
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.suggestions-container {
  padding-left: 2vw;
}

.score-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 98.8%;
  height: 3vh;
  background-color: white;
  border-radius: 0 0 0 50px;
  display: flex;
  align-items: center;
}

.score-bar {
  height: 25%;
  width: 100%;
  border-radius: 2px;
}

.right {
  background-color: white;
  margin: 2% 2% 2% 1%;
  padding: 5% 4%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.code-editor-header {
  font-size: large;
}
