.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 90vh;
  line-height: 2;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.toolbar button {
  width: 40px;
  height: 40px;
  background-color: #E0E0E0;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.toolbar button:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50vw 50vw;
}

.left {
  background-color: white;
  margin: 2% 1% 2% 2%;
  padding: 5% 4%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.difficulty.easy {
  color: green;
}

.difficulty.medium {
  color: orange;
}

.difficulty.hard {
  color: red;
}

.examples-container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.example {
  background-color: #EEEEEE;
  padding: 4% 3%;
  border-radius: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
}
